<%- include('navbar') %>

<div class="container-fluid">
  <div class="row allDr">
    <div class="col-12 col-md-2 col-lg-4 text-center">
      <h1 class="titulo text-center m-5">Todos nuestros Dragones:</h1>
    </div>
    <div class="row cdr">
      <% result.forEach(dragon => { %>
      <div
        class="col-12 col-md-6 col-lg-4 md-6 d-flex justify-content-center1 border-info mb-5"
      >
        <div class="card" style="width: 18rem" height="">
          <img
            src="/images/dragons/<%- dragon.img %>"
            class="card-dr-img-top my-4"
            alt="cardDragon"
          />
          <div class="card-bodytr cdr text-center">
            <h5 class="card-title"><%- dragon.dragon_name %></h5>
            <br />
            <a
              href="/trainer/oneTrainer/<%- dragon.trainer_id %>"
              class="btn btn-info text-center"
              >Más info del Entrenador</a
            >
          </div>
        </div>
      </div>
      <%})%>
    </div>
  </div>
</div>

<%- include('footer') %>
